<div class="container custom-container-2">

  <!-- Show it when there is no asesor -->
  <div class="no-data text-center" *ngIf="Asesor.length == 0">
    <p>There is no asesor added yet!</p>
    <button class="btn btn-outline-primary" routerLink="/registrar_asesor">Agregar Asesor</button>
  </div>

  <!-- Asesores list table, it hides when there is no asesor -->
  <div *ngIf="Asesor.length !== 0">
    <h3 class="mb-3 text-center">Lista Asesores</h3>

    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asesor of Asesor">
            <td>{{asesor.id}}</td>
            <td>{{asesor.asesorNombre}}</td>
            <td>{{asesor.asesorEspecialidad}}</td>
            <td>
              <span class="edit" routerLink="/editar_asesor/{{asesor.id}}">Editar</span>
              <span class="delete" (click)="deleteAsesor(asesor.id)">Eliminar</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>